:root {
    --clr-pale-blue: hsl(243, 100%, 93%);
    --clr-grey-blue: hsl(229, 7%, 55%);
    --clr-div-bg: hsl(228, 56%, 26%);
    --clr-emphasis-blue: hsl(229, 57%, 11%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

body {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(images/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.master {
    width: min(100%, 425px);
    margin: auto;
}
.board {
    background-color: var(--clr-div-bg);
    padding: 3rem;
    border-radius: 12px;
}
.board + .board {
    margin-top: 3rem;
}

.main {
    border-top-right-radius: 8rem;
}

.logo {
    scale: 1.1;
    margin-bottom: 2rem;
}

.actions {
    display: flex;
    gap: 1rem;
}
.action-box {
    /* display: inline-flex; */
    background-color: var(--clr-emphasis-blue);
    /* padding: 2rem; */
    width: 4rem;
    height: 4rem;

    border-radius: 8px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.dashboard {
    position: relative;
    padding-bottom: 4rem;
}
.dashboard * {
    color: white;
}
.dash-info {
    color: white;
    opacity: 0.8;
    text-align: center;
    margin-bottom: 1.75rem;
    font-size: 1.2rem;
}
.num-emphasis, .minmax {
    font-weight: 700;
    opacity: 1;
}

.slider {
    padding: 0.3rem;
}
.slider-container {
    background-color: var(--clr-emphasis-blue);
    border-radius: 1rem;
}
.slider-data {
    border-radius: 0.7rem;

    background: linear-gradient(0.25turn,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%));
    width: 81.5%;

    display: flex;
    justify-content: flex-end;
}

.used-dot {
    height: 0.8rem;
    width: 0.8rem;
    background-color: white;
    border-radius: 50%;
}

.data-limits {
    margin-top: 1.25rem;

    display: flex;
    justify-content: space-between;
}

.floater {
    background-color: white;
    position: absolute;
    border-radius: 8px;

    width: 54%;
    max-width: 230px;
    height: 40%;
    top: 80%;
    right: 23%;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.floater-text {
    color: var(--clr-emphasis-blue);
    text-align: center;
}
.floater > .num-emphasis {
    color: var(--clr-emphasis-blue);
    font-size: 3rem;
    font-weight: 700;

}

.sv {
    display: none;
    position: absolute;

    top : calc(100% - 8px);
    right: 0px;
}

@media (min-width: 800px) {
    body {
        background-color: var(--clr-emphasis-blue);
        background-image: url(images/bg-desktop.png);
        background-size: contain;
        background-position: bottom left;
        
    }
    .master {
        display: flex;
        width: auto;
        gap: 3rem;
    }
    .main {
        padding-right: 12rem;
    }

    .dashboard {
        width: clamp(425px, 40vw, 650px);
        padding-bottom: 2rem;
    }

    .floater {
        right: 3.5rem;
        top: -27.5%;
    }
    .sv {
        display: inherit;
    }
}